<section class="tutorial">
{{# each tutorials as |tutorial tutorialid| }}
	{{# each tutorial.sections as |section sectionid| }}
	<article>
		<h1>{{ tutorial.title }}</h1>
		<h2>{{ section.subtitle }}</h2>

		<p>{{{ section.instruction }}}</p>
		<div class="code">
			<textarea data-mode="xml" hidden>{{{ section.code }}}</textarea>
			<textarea class="before" hidden>{{{ section.before }}}</textarea>
			<textarea class="after" hidden>{{{ section.after }}}</textarea>
			<fieldset>
				<a class="execute" href="#"><i class="fa fa-bolt"></i><span>Execute</span></a>
				<a class="next" href="#"><span>Next</span><i class="fa fa-caret-right"></i></a>
				<a class="previous" href="#"><i class="fa fa-caret-left"></i><span>Previous</span></a>
			</fieldset>
		</div>
	</article>
	{{/ each }}
{{/ each }}
</section>
